.maindiv
{
	margin-top:80px;
	margin-right:0px;
	margin-left:0px;
	padding-bottom:100%;
	background-color:#f0f0f0;
}

.leftbar
{
	margin-left:5%;
	margin-top:5%;
	padding-right:20%;
	padding-bottom:400px;
	background-color:#ffffff;
}
.rightbar
{
	margin-right:5%;
	margin-top:5%;
	padding-left:25%;
	padding-bottom:400px;
	background-color:#ffffff;
}

.midarea
{
	margin-left:5%;
	margin-right:5%;
	background-color:#ffffff;
}
#div
{
	margin-left:5%;
	margin-top:5%;
	padding-right:20%;
	padding-bottom:400px;
	background-color:#ffffff;
}
h1{
	background-color:yellow;
	color:red;
}
